<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>MB명지은행 - 통장</title>
</head>

<body>
<div class="flex w-100">
    <!-- 상단 바 -->
    {% include "topNavbar.html" %}

    <!-- main -->
    <main class="container-sm min-vh-100 contentInner">
        <!-- 통장 -->
        <div class="w-75 ms-auto me-auto">
            <!-- 제목 -->
            <div class="w-100 pb-2 mb-4 border-bottom">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h1 class="h2 fw-bold" id="getPostingTitle">명지Magic 적금 통장</h1>
                </div>
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-2">
                        <p class="me-2 mt-2 fw-bold">MB명지은행</p>
                    </div>
                </div>
            </div>

            <!-- 통장 정보 -->
            <div class="wrapBookInfo d-lg-flex align-items-center ">

                <div class="bookInfo w-75 me-0 ms-sm-5 align-content-between">
                    <div class="d-flex mb-3 align-items-center w-100 justify-content-between">
                        <div class="saleCheck d-flex border-0 p-2 me-2 align-items-center"
                             style="border-radius: 10px">
                            <a class="h5 mb-0 text-decoration-none fw-bold">상품상세정보</a>
                        </div>
                    </div>

                    <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">상품명</h4>
                        <a class="text-body text-decoration-none" id="getBookTitle">명지Magic 적금 통장</a>
                    </div>

                    <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">개요</h4>
                        <a class="text-body text-decoration-none" id="getBookPrice">최고 연 5.7% 고금리 적금</a>
                    </div>

                    <div class="auther d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">특징</h4>
                        <a class="text-body text-decoration-none" id="getAuther">우리은행 및 현대카드 실적에 따라 최고 연 5.7% 금리 제공</a>
                    </div>
                    <div class="publisher d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">가입기간</h4>
                        <a class="text-body text-decoration-none" id="getPublisher">12개월</a>
                    </div>
                    <div class="category d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">기본금리</h4>
                        <a class="text-body text-decoration-none" id="getCategory">신규일 당시 영업점 및 인터넷 홈페이지에 고시된 기본금리 </a>
                    </div>
                    <div class="category d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">예금구분</h4>
                        <a class="text-body text-decoration-none" id="getAppearanceInfo">정기적금</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 게시물 내용 -->
        <div class="mt-3 border-top w-75 ms-auto me-auto mb-5 pt-4">
            <div class="mt-3"><a id="getPostingContents" style="white-space: pre-line;">
                ■ 특별우대금리 : 연 3.5%p까지 우대

                1) 신규고객 : 적금 가입일 현재 현대카드사의 신용(체크)카드 결제이력이 6개월 이상 무실적 고객이 적금 가입한 달의 다음달
                말일까지 「우리 Magic 적금 by 현대카드 전용 웹페이지」에서 신용카드를 발급받은 경우 적용.
                2) 기존고객 : 1) 신규고객에 해당하지 않는 현대카드사의 신용(체크)카드 기존 이용고객이 적금 가입한 달의 다음달 말까지
                우리 Magic 적금 by 현대카드 전용 웹페이지」에서 신용카드를 발급받은 경우 적용.
                3) 현대카드사용 : 현대카드 이용액은 적금 가입일이 속한 가입월초부터 적금 만기일 전월말까지 예금주 본인 개인명의
                신용카드 사용액(매출 승인 기준)에 따른 이용액만 해당됨. 현금서비스, 카드론, 신용대출, 본인카드에 연결된 가족 카드 이용액,
                선불카드 이용액, 개인사업자의 기업카드이용액, 매출취소액은 실적산정에서 제외
                4) 자동이체실적 : 통신료(유·무선 전화요금, 케이블TV, IPTV 등), 아파트관리비, 도시가스, 전기요금, 자동이체 실적만
                인정되며, 적금 가입일 다음다음 달부터 적금 만기일 전월까지 5개월 이상 자동이체 매출 승인되어야만 우대적용.

                ★ 특별우대금리 적용을 위한 유의사항
                ① 현대카드 신규, 기존고객 모두「우리 Magic 적금 by 현대카드 전용 웹페이지」에서 카드 발급
                ② 적금 가입 신규일부터 현대카드를 발급 및 카드 결제계좌를 우리은행 입출금 통장으로 지정하고
                만기 해지 시점까지 카드 보유 및 결제계좌 유지
                ☞ 단, 적금 가입시점에 현대카드가 없는 경우(카드 결제계좌가 다른은행으로 지정되어 있는 경우 포함) 적금 가입월의
                다음달 말일까지「우리 Magic 적금 by 현대카드 전용 웹페이지」에서 현대카드 발급(결제계좌를 우리은행으로 변경)도 인정
            </a></div>
        </div>
        <form id="account-form">
            <input type="hidden" name="itemName" value="명지Magic 적금 통장"/>
            <input type="hidden" name="fee" value="0.14"/>
            <input type="hidden" name="interest" value="3.5"/>
            <input type="hidden" name="kindOfAccount" value="정기적금"/>
            <input id="account_creating" class="btn btn-lg btn-primary w-100" type="submit" value="개설하기"></input>
        </form>
    </main>
    <!-- footer -->
    <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
</div>

<script>
    const request = document.getElementById('account-form');

    const signup_btn = document.getElementById('account_creating');
    signup_btn.addEventListener('click', () => {
        request.setAttribute('action', '/account/sign');
        request.setAttribute('method', 'GET');
    });
</script>
<script src="/js/topNav.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>