<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>MB명지은행 - 통장</title>
</head>

<body>
<div class="flex w-100">
    <!-- 상단 바 -->
    {% include "topNavbar.html" %}

    <!-- main -->
    <main class="container-sm min-vh-100 contentInner">
        <!-- 통장 -->
        <div class="w-75 ms-auto me-auto">
            <!-- 제목 -->
            <div class="w-100 pb-2 mb-4 border-bottom">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h1 class="h2 fw-bold" id="getPostingTitle">청년우대 통장</h1>
                </div>
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-2">
                        <p class="me-2 mt-2 fw-bold">MB명지은행</p>
                    </div>
                </div>
            </div>

            <!-- 통장 정보 -->
            <div class="wrapBookInfo d-lg-flex align-items-center ">

                <div class="bookInfo w-75 me-0 ms-sm-5 align-content-between">
                    <div class="d-flex mb-3 align-items-center w-100 justify-content-between">
                        <div class="saleCheck d-flex border-0 p-2 me-2 align-items-center"
                             style="border-radius: 10px">
                            <a class="h5 mb-0 text-decoration-none fw-bold">상품상세정보</a>
                        </div>
                    </div>
                    <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">상품명</h4>
                        <a class="text-body text-decoration-none" id="getBookTitle">청년우대 통장</a>
                    </div>

                    <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">개요</h4>
                        <a class="text-body text-decoration-none" id="getBookPrice">  만 18세 ~ 30세 이하의 대학생 전용 입출식 상품</a>
                    </div>

                    <div class="auther d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">특징</h4>
                        <a class="text-body text-decoration-none" id="getAuther">대학생이 선호하는 부가서비스 제공</a>
                    </div>
                    <div class="publisher d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">가입기간</h4>
                        <a class="text-body text-decoration-none" id="getPublisher">제한없음</a>
                    </div>
                    <div class="category d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">기본금리</h4>
                        <a class="text-body text-decoration-none" id="getCategory">연 0.1% (2021.09.24 기준)</a>
                    </div>
                    <div class="category d-flex align-items-center mt-2 mb-2">
                        <h4 class="h4 fw-bold w-50">변동금리</h4>
                        <a class="text-body text-decoration-none" id="getAppearanceInfo">해당사항 없음</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 게시물 내용 -->
        <div class="mt-3 border-top w-75 ms-auto me-auto mb-5 pt-4">
            <div class="mt-3"><a id="getPostingContents" style="white-space: pre-line;">
                [ 수수료 우대 혜택 : 매월 총 10회 면제 ]

                ▷ 우대조건 : 전월 다음 조건 중 한가지 이상 충족하는 경우
                ① 신용(체크)카드 결제계좌 또는 사용계좌를 이 예금으로 지정하고 월 1회 이상 승인실적 보유
                ② 우리은행 적립식상품(적금, 신탁, 펀드)으로 월 자동이체 합계금액이 10만원 이상인 경우
                ③ 이 예금으로 휴대폰요금 자동이체 시
                ④ 이 예금을 학자금대출 원리금 납부계좌로 등록한 경우

                ▷ 아래의 수수료( ① + ② )월 합산 10회 면제 혜택 제공
                ① 우리은행 자동화기기 수수료 : 영업시간 외 현금인출 및 타행 이체 수수료
                ② 전자금융 타행 이체 수수료 : 인터넷뱅킹, 스마트뱅킹, 텔레뱅킹
                ※ 상품 신규가입 또는 상품 전환 후 다음다음 달 15일까지는 우대조건과 상관없이 면제

                ▷ 수수료 면제 혜택은 이번달 16일 생성되어 다음달 15일까지 사용 가능
                 - 우대조건 미 충족 시 이번달 16일부터 수수료 우대혜택 중단
                 - 우대조건 재 충족한 경우 다음달 16일부터 수수료 면제 혜택 다시 제공
            </a></div>
        </div>
        <form id="account-form">
            <input type="hidden" name="itemName" value="청년우대 통장"/>
            <input type="hidden" name="variability" value="F"/>
            <input type="hidden" name="fee" value="0.14"/>
            <input type="hidden" name="interest" value="0.7"/>
            <input id="account_creating" class="btn btn-lg btn-primary w-100" type="submit" value="개설하기"></input>
        </form>
    </main>
    <!-- footer -->
    <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
</div>

<script>
    const request = document.getElementById('account-form');

    const signup_btn = document.getElementById('account_creating');
    signup_btn.addEventListener('click', () => {
        request.setAttribute('action', '/account/sign');
        request.setAttribute('method', 'GET');
    });
</script>
<script src="/js/topNav.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/popGuide.js"></script>

</body>

</html>