<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>MB명지은행 - 카드 발급</title>
</head>

<body>
<div class="flex w-100">
    <!-- 상단 바 -->
    {% include "topNavbar.html" %}

    <!-- main -->
    <main class="container-sm min-vh-100 contentInner">
        <!-- 카드 리스트 -->
        <div class="d-flex flex-wrap justify-content-center">
            <div class="saleCard card mt-4 m-2" style="max-width: 300px;" onclick="location.href='/card/1'">
                <img src="/img/card1.png" class="card-img-top" width="100%" height="200px">
                <div class="card-body text-center">
                    <p class="postTitle card-title fw-bold mb-3">명지 익스프레스 Gold class 카드</p>
                    <a>
                        연회비: 50만원<br>
                        첫 두달 실적 상관없는 혜택
                    </a>
                </div>
            </div>

            <div class="saleCard card mt-4 m-2" style="max-width: 300px;" onclick="location.href='/card/2'">
                <img src="/img/card2.png" class="card-img-top" width="100%" height="200px">
                <div class="card-body text-center">
                    <p class="postTitle card-title fw-bold mb-3">명지 익스프레스 Platinum class 카드</p>
                    <a>
                        연회비: 50만원 <br>
                        스타벅스 5%적립
                    </a>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
</div>

<script src="/js/topNav.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>