<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>내 정보</title>
</head>

<body>
    <div class="flex w-100">
        <!-- top -->
        {% include "topNavbar.html" %}

        <!-- 마이페이지 -->
        <main class="myPage min-vh-100 container-sm border p-5">
            <div class="profile d-flex flex-wrap align-items-center pb-5">
                <img src="/img/profileImg.png" class="rounded-circle w-25" alt="profile">
                <div class="ms-5">
                    <h1 class="h3 fw-bold">{{user.name}} 님</h1>

                    <div class="gelocationBtn d-flex">

                        <input id="getMyAddr" name="address" style="display: none;">
                        <form id="regions">
                            <input type="hidden" name="region1" id="getFirstAddr" value="">
                            <input type="hidden" name="region2" id="getSecondAddr" value="">
                            <input type="hidden" name="region3" id="getThirdAddr" value="">
                            <input type="hidden" name="wholeRegion" id="getAllAddr" value="">
                        </form>
                    </div>
                </div>
            </div>

            <!-- 만들어진 통장 보기 -->
            <div class="saleList pt-5 mt-5 border-top">
                <div class="d-flex align-items-center">
                    <h2 class="h3 fw-bold">내 통장 확인</h2>
                </div>
                <br>
            </div>
            {% if myAccounts != NULL %}
                <div class="mb-1">
                    <ul>
                        {% for myAccount in myAccounts %}
                            <li style="padding: 5px 0px 5px 5px; margin-bottom: 5px; border-bottom: 1px solid #efefef; font-size: 15px;">
                                👉🏻 {{myAccount.name}} • 계좌번호: {{myAccount.account_num}} • 잔고: {{myAccount.deposit}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="mb-1">
                    <ul>
                        <li style="padding: 5px 0px 5px 5px; margin-bottom: 5px; border-bottom: 1px solid #f5c2c7; font-size: 15px; color: #a52834">
                            계좌가 없습니다
                        </li>
                    </ul>
                </div>
            {% endif %}

            <!-- 발급된 카드 보기 -->
            <div class="saleList pt-5 mt-5 border-top">
                <div class="d-flex align-items-center">
                    <h2 class="h3 fw-bold">내 카드 확인</h2>
                </div>
            </div>

            {% if myCards != NULL %}
                <div class="mb-1">
                    <ul>
                        {% for myCard in myCards %}
                            <li style="padding: 5px 0px 5px 5px; margin-bottom: 5px; border-bottom: 1px solid #efefef; font-size: 15px;">
                                👉🏻 카드 명: {{myCard.name}} • 카드번호: {{myCard.card_number}} • 연결된 계좌: {{myCard.user_account_name}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="mb-1">
                    <ul>
                        <li style="padding: 5px 0px 5px 5px; margin-bottom: 5px; border-bottom: 1px solid #f5c2c7; font-size: 15px; color: #a52834">
                            발급된 카드가 없습니다
                        </li>
                    </ul>
                </div>
            {% endif %}
        </main>

        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>
    <script src="/js/topNav.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>